{{ partial "header.html" . }}
 
{{ $galerie := .Params.galerie }} 

<h1>{{ .Title }}</h1>
<div class="row">
  <div class="col-xs-12" id="lightgallery">
    {{ partial "news_date.html" . }}
    {{ $newsGalleryImage := .Params.galerie_bild }}
    {{ if $galerie }}
      {{ range where .Site.Pages "Params.galerie_pfad" $galerie }}
        {{ if $newsGalleryImage }}
          <a class="image-link" href="http://galerie.heimatverein-niederjosbach.de/images/{{ .Params.galerie_pfad }}/{{ $newsGalleryImage }}"><img class="thumbnail img-responsive news-image" src="http://galerie.heimatverein-niederjosbach.de/thumbnails/{{ .Params.galerie_pfad }}/{{ $newsGalleryImage }}" /></a>
        {{ else }}
          <a class="image-link"  href="http://galerie.heimatverein-niederjosbach.de/images/{{ .Params.galerie_pfad }}/{{ .Params.galerie_bild }}"><img class="thumbnail img-responsive news-image" src="http://galerie.heimatverein-niederjosbach.de/thumbnails/{{ .Params.galerie_pfad }}/{{ .Params.galerie_bild }}" /></a>
        {{ end }}  
      {{ end }}
    {{ end }}
    {{ if isset .Params "bild" }}
        <a class="image-link"  href="http://files.heimatverein-niederjosbach.de//{{ .Params.bild }}"><img class="thumbnail img-responsive news-image" src="http://files.heimatverein-niederjosbach.de//{{ .Params.thumbnail }}" /></a>
      {{ end }}    
    {{ .Content }}
    
    {{ if $galerie }}
      {{ range where .Site.Pages "Params.galerie_pfad" $galerie }}
        <a class="btn btn-primary" href="{{ .Permalink }}">
          Zur Galerie <strong>"{{ .Title }}"</strong>
        </a>
      {{ end }}
    {{ end }}    
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $("#lightgallery").lightGallery({
        thumbnail: false,
        selector: 'a.image-link',
        share: false
      }); 
  });
</script>
{{ partial "footer.html" . }}