<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {{- template "_internal/opengraph.html" . }}
    {{- $galerie := .Params.galerie }}
    {{- $newsGalleryImage := .Params.galerie_bild }}

    {{- if $galerie }}
      {{- range where .Site.Pages "Params.galerie_pfad" $galerie }}
        {{- if $newsGalleryImage }}
        <meta property="og:image" content="{{.Site.BaseURL}}images/galerie/{{ .Params.galerie_pfad }}/{{ $newsGalleryImage }}?nf_resize=fit&w=1200&h=1200" />
        {{- else }}
        <meta property="og:image" content="{{.Site.BaseURL}}images/galerie/{{ .Params.galerie_pfad }}/{{ .Params.galerie_bild }}?nf_resize=fit&w=1200&h=1200" />
        {{- end }}
      {{- end }}
    {{- end }}
    {{- if isset .Params "bild" }}
      <meta property="og:image" content="{{.Site.BaseURL}}files/{{ .Params.bild }}?nf_resize=fit&w=1200&h=1200" />
    {{- end }}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/swipebox.min.css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" href="/img/favicon.ico">
    <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script src="/js/jquery.swipebox.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-fullscreen,lg-hash,lg-pager,lg-share,lg-thumbnail,lg-video,lg-zoom"></script>
    <link type="text/css" rel="stylesheet" href="/css/lightgallery.css" /> 
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script async defer data-domain="heimatverein-niederjosbach.de" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <div id="header">
      <div class="container"> 
        <div class="row">
        <div class="col-xs-4 col-lg-2"><img src="/img/logo.png" width="150"></div>
          <div class="col-xs-7 col-xs-offset-1 col-lg-10" id="logo-text">Niederjosbacher Heimat- und Geschichtsverein 2007 e.V.</div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-top navbar-wrapper">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
              <li class='dropdown {{if $currentNode.HasMenuCurrent "main" . }} active{{end}}'>
                <a href="{{ .URL }}" class="dropdown-toggle" data-toggle="dropdown">{{ .Name }}<b class="caret"></b></a>

                <ul class="dropdown-menu">
                {{ range .Children }}
                    <li><a href="{{.URL}}">{{ .Name }}</a></li>
                {{ end}}
                </ul>
              </li>
              {{ else }}
              <li class='{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}'><a href="{{.URL}}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container" >
      <div  style="margin: 1em;" class="alert alert-danger mb-1" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <strong>
        Aufgrund eines Corona-Falls im Vorstand fällt die Mitgliederversammlung vom 24.06.2022 aus!</strong></div>
      <div id="content_area">
