{{ partial "header.html" . }}

{{ $galeriePath := .Params.galerie_pfad }}
{{ $pathParts := split $galeriePath "/" }}
{{ $year := index $pathParts 0 }}
{{ $event := index $pathParts 1 }}
{{ $jsonPath := printf "galleries/%s/%s.json" $year $event }}
{{ $galleryData := index .Site.Data.galleries $year }}
{{ $gallery := index $galleryData $event }}

<h1>{{ .Title }}</h1>
<div id="lightgallery">
  {{ $cols := 4}}
  {{ $len := len $gallery.images }}
  {{$extraRequired := mod (sub $cols (mod $len $cols)) $cols }}
  {{ range $key, $image := $gallery.images }}
    {{ $isLastElem := not (sub (sub $len 1) $key)}}

    {{ if modBool $key $cols }}
    <div class="row">
    {{ end  }}
      <div class="col-xs-6 col-md-4 col-lg-3">
        <a rel="{{ $galeriePath }}" href="/images/galerie/{{ $galeriePath }}/{{ $image.original }}">
          <img class="thumbnail img-responsive galerie-image" src="/images/galerie/{{ $galeriePath }}/{{ $image.thumbnail }}" />
        </a>
      </div>
    {{ if or (modBool (add $key 1) $cols) $isLastElem }}
    </div>
    {{ end }}
  {{ end }}
  {{ .Content }}
</div>
<script type="text/javascript">
      $(document).ready(function() {
          $("#lightgallery").lightGallery({
            thumbnail: true,
            animateThumb: true,
            selector: 'a',
            share: false
          });
      });
</script>
{{ partial "footer.html" . }}