{{ partial "header.html" . }}

{{ $galeriePath := .Params.galerie_pfad }}
{{ $dir := (print "galerie/images/" $galeriePath) }}
{{ $files := readDir $dir }}

<h1>{{ .Title }}</h1>
<a href="{{.Site.BaseURL}}/{{.Section}}">Zurück zur Galerie</a>

<div class="row">
  {{ range $files }}
    <div class="col-xs-6 col-md-4 col-lg-3">
      <!-- <img src="{{ $galeriePath }}/{{ .Name }}" /> -->
      <img class="thumbnail img-responsive galerie-image" src="http://galerie.heimatverein-niederjosbach.de/thumbnails/{{ $galeriePath }}/{{ .Name }}" style="object-fit: cover; width: 200px; height: 200px;" />
    </div>
{{ end }}
</div>
{{ .Content }}

{{ partial "footer.html" . }}