{{ partial "header.html" . }}

{{ $galeriePath := .Params.galerie_pfad }}
{{ $dir := (print "static/galerie/images/" $galeriePath) }}
{{ $files := .Params.images }}
{{ $imagesUrl := getenv "NHGV_IMAGE_URL" }}

<h1>{{ .Title }}</h1>
<div id="lightgallery">
  {{ $cols := 4}}
  {{ $len := len $files }}
  {{$extraRequired := mod (sub $cols (mod $len $cols)) $cols }}
  {{ range $key, $value := $files }}
    {{ $isLastElem := not (sub (sub $len 1) $key)}}

    {{ if modBool $key $cols }}
    <div class="row">
    {{ end  }}
      <div class="col-xs-6 col-md-4 col-lg-3">
        <a rel="{{ $galeriePath }}" href="{{ $imagesUrl }}/galerie/images/{{ $galeriePath }}/{{ $value }}"><img class="thumbnail img-responsive galerie-image" src="{{ $imagesUrl }}/galerie/thumbnails/{{ $galeriePath }}/{{ $value }}" /></a>
      </div> 
    {{ if or (modBool (add $key 1) $cols) $isLastElem }}
    </div>
    {{ end }}
  {{ end }}  
  {{ .Content }}
</div>
<script type="text/javascript">
      $(document).ready(function() {
          $("#lightgallery").lightGallery({
            thumbnail: true,
            animateThumb: true,
            selector: 'a',
            share: false
          }); 
      });
</script>
{{ partial "footer.html" . }}