{{ partial "header.html" . }}

{{ range where .Data.Pages "Title" "Home" }}
{{ partial "carousel.html" . }}
  <div class="row">
      <div class="col-sm-8">
      
        {{ .Content }}
      </div>
      <div class="col-sm-4">

        <h1>Aktuelles</h1>
        <div class="list-group">
          {{ range first 5 (where .Site.RegularPages "Section" "aktuelles") }}
          <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
          {{ end }} 
        </div>

      </div>
  </div>
{{ end }}

{{ partial "footer.html" . }}