<div class="col-lg-6">
  <form name="submit_event" netlify>
    <div class="form-group">
     <label for="name">Datum</label>
     <input class="form-control" type=text name="date" size="20" placeholder="Datum der Veranstaltung">
    </div>
    <div class="form-group">
     <label for="name">Beginnt</label>
     <input class="form-control" type=text name="startsAt" size="20" placeholder="Beginn der Veranstaltung">
    </div>
    <div class="form-group">
     <label for="name">Veranstaltung</label>
     <input class="form-control" type=text name="title" size="20" placeholder="Name der Veranstaltung">
    </div>
    <div class="form-group">
      <label for="name">Ort/Treffpunkt</label>
      <input class="form-control" type=text name="location" size="20" placeholder="Ort/Treffpunkt">
    </div>
    <div class="form-group">
      <label for="name">Verein</label>
      <input class="form-control" type=text name="club" size="20" placeholder="Name der Vereins">
    </div>
    <div class="form-group">
      <label for="email">Email (für Rückfragen)</label>
      <input class="form-control" type=text name="email" size="20" placeholder="Ihre Email Adresse">
    </div>
    <input type="submit" class="btn btn-primary" name="Submit">
  </form> 
</div>