{{ partial "header.html" . }}

<h1>Galerie</h1>
{{ template "_internal/pagination.html" . }}

{{ $cols := 4}}
{{ $len := len .Paginator.Pages }}
{{$extraRequired := mod (sub $cols (mod $len $cols)) $cols }}
{{ range $key, $value := .Paginator.Pages}}
  {{ $galeriePath := .Params.galerie_pfad }}
  {{ $galerieBild := .Params.galerie_bild }}
  {{ $isLastElem := not (sub (sub $len 1) $key)}}

  {{ if modBool $key $cols }}
  <div class="row">
  {{ end }}
    <div class="col-xs-6 col-md-4 col-lg-3">

      <a href="{{ .Permalink }}"><img class="thumbnail img-responsive galerie-image" src="http://galerie.heimatverein-niederjosbach.de/thumbnails/{{ $galeriePath }}/{{ $galerieBild }}" style="object-fit: cover; width: 200px; height: 200px;" />
      {{ .Title }}</a>
    </div>
  {{ if or (modBool (add $key 1) $cols) $isLastElem }}
  </div>
  {{ end }}
{{ end }}
  
{{ partial "footer.html" . }}